@import "variables";
@import "font";
@import "col";

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover, &:visited, &:focus {
    color: $primary-color;
  }
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.App {
  background-color: $base-color;
  //font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.5em;
  color: $primary-color;
  padding: 0 12px 0 8px;
  overflow: hidden;

  .main-section {
    padding: 2% 0 10% 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }


  .list-section {
    padding: 3% 0;
  }
}

.footer-section {
  background-color: $primary-color;
  margin: 0 -12px 0 -8px;

  ul li {
    display: inline;
    padding: 0 20px;
  }
}

.text-center {
  text-align: center;
}

.vertical-align--center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-align--bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.introduction {
  max-height: 100%;
  height: 100%;

  [class*="col-"] {
    height: 100%;
  }

  .introduction__logos {
    display: flex !important;

    ul {
      margin: 0;

      li {
        padding: 10% 0;
      }
    }
  }

  .introduction__logos--small {
    display: none;
  }

  .introduction__titles {
    padding-right: 0;

    p {
      margin: 0;
    }
  }

  .introduction__logo {
    padding-left: 0;

    img {
      width: 380px;
      max-width: 100%;
    }
  }

  .introduction__scroll {
    span {
      position: relative;
      top: 5%;

      p {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .project__view, .project__buffer {
    display: none;
  }

  .project {
    background-image: linear-gradient(to right, rgba(240, 236, 226, 0.0), rgba(1, 1, 1, 0.5));
  }

  .project--reverse {
    background-image: linear-gradient(to right, rgba(240, 236, 226, 0.0), rgba(1, 1, 1, 0.5));
  }

  .introduction {
    flex-grow: 1;
    max-height: 100%;
    justify-content: flex-start;

    [class*="col-"] {
      height: 100%;
    }

    .introduction__buffer {
      display: none;
    }

    .introduction__logos {
      display: none !important;

      ul {
        margin: 0;

        li {
          padding: 5% 0;
        }
      }
    }

    .introduction__logos--small {
      height: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      padding: 0;
      padding-left: 10px;

      ul {
        margin: 0;

        li {
          padding: 5% 0;
        }
      }
    }

    .introduction__titles {
      height: 380px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      padding: 0;

      p {
        margin: 0;
      }


    }


    .introduction__logo {
      height: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding: 0;

      img {
        width: 380px;
        max-width: none;
      }
    }

    .introduction__scroll {
      height: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding: 0;
      position: relative;
      top: 10%;

      span {
        p {
          writing-mode: vertical-rl;
          text-orientation: mixed;
          padding-bottom: 5%;
        }

        //position: relative;
        //bottom: 20%;
        transform: none;
      }
    }
  }

  .project__title {
    .item-name-section > div:first-child {
      padding-right: 10px;
    }

    .font-2--0em {
      font-size: 1.6em;
    }
  }
}

.CLogo {
  -webkit-transition: all 1.5s ease-in;
  -moz-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
  -ms-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
}


.CLogo:hover {
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  -ms-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  transform: rotate(720deg);
}
