@import "variables";
@import "font";
@import "col";

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover, &:visited, &:focus {
    color: $primary-color;
  }
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.App {
  color: $primary-color;
  background-color: $base-color;
  font-family: 'Montserrat Alternates', sans-serif;
  overflow: hidden;

  .main-section {
    padding: 3% 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }


  .list-section {
    padding: 3%;
  }

  .footer-section {
    background-color: $primary-color;
    margin: 0 -12px 0 -8px;

    ul li {
      display: inline;
      padding: 0 20px;
    }
  }

}

.text-center {
  text-align: center;
}

@mixin vertical-align($position) {
  height: 100%;
  display: flex;
  flex-direction: column;
  @if $position == top {
    justify-content: flex-start;
  } @else if $position == center {
    justify-content: center;
  } @else if $position == bottom {
    justify-content: flex-end;
  }
}

.introduction {
  height: 100%;

  &__logos {
    @include vertical-align(bottom);
    display: none;

    ul {
      margin: 0;

      li {
        padding: 10% 0;
      }
    }
  }

  &__logos--small {
    @include vertical-align(bottom);
  }

  .introduction__titles {
    padding-right: 0;

    p {
      position: relative;
      width: 150%;
      text-align: left;
      margin: 0;
      word-break: normal;
    }

    @include vertical-align(center);
  }

  .introduction__logo {
    padding-left: 0;

    img {
      width: 380px;
    }

    @include vertical-align(top);
  }

  .introduction__scroll {
    span {
      position: relative;
      top: 5%;

      p {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
    }

    @include vertical-align(bottom)
  }
}

.CLogo {
  -webkit-transition: all 1.5s ease-in;
  -moz-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
  -ms-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
}

.CLogo:hover {
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  -ms-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  transform: rotate(720deg);
}
