*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;

  li {
    padding: 20px 0;
  }
}

.App {
  background-color: #F0ECE2;
  font-family: 'Microsoft Uighur', sans-serif;
  font-size: 1.5em;
  padding: 0 12px 0 8px;

  .main-page {
    padding: 5% 0 5% 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.scroll-down-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.project-list-item {
  background-image: linear-gradient(to right, rgba(240, 236, 226, 0.0), #010101);
  height: 200px;
  border-radius: 60px;

  .project-list-item-images {
    height: 100%;
    overflow: hidden;
    display: none;
    padding: 0;

    ul {
      margin: 0;
      display: inline;
      img {
        height: 170px;
        border-radius: 20%;
        width: 170px;
      }
    }
  }

  .project-list-item-name {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .item-name-section {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.project-list-item:hover {
  cursor: pointer;
  background-image: none;
  //max-height: 100%;
  .project-list-item-name {
    animation-name: translate-x-positive;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .project-list-item-images {
    display: block;
    //transform: translateX(-100%);
    animation-name: transparent-to-opaque;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .project-list-item-view {
    display: none;
  }
}

.project-list-item-reverse {
  background-image: linear-gradient(to left, rgba(240, 236, 226, 0.0), #010101);
  height: 200px;
  border-radius: 60px;

  .project-list-item-images {
    height: 100%;
    overflow: hidden;
    display: none;
    padding: 0;

    ul {
      margin: 0;
      display: inline;
      img {
        height: 170px;
        border-radius: 20%;
        width: 170px;
      }
    }
  }

  .project-list-item-name {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .item-name-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    p {
      padding: 0;
      margin: 0;
    }
  }

}

.project-list-item-reverse:hover {
  cursor: pointer;
  background-image: none;

  .project-list-item-name {
    animation-name: translate-x-negative;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .project-list-item-space {
    display: none;
  }

  .project-list-item-images {
    display: inherit;
    position: relative;
    transform: translateX(50%);
    animation-name: transparent-to-opaque;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .project-list-item-view {
    display: none;
  }
}

.project-list {
  padding: 3% 0;
  height: 33.3vh;

  ul li {
    display: inline;
    padding: 2%;
  }
}

.footer {
  background-color: #010101;
  margin: 0 -12px 0 -8px;

  ul li {
    display: inline;
    padding: 0 20px;
  }
}

.text-center {
  text-align: center;
}


@keyframes translate-x-positive {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes translate-x-negative {
  from {
    transform: translate(100%, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

@keyframes transparent-to-opaque {
  from {
    //transform: translateX(0%);
    opacity: 0;
  }
  to {
    //transform: translateX(10%);,
    opacity: 1;
  }
}

.vertical-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flex-grow-1 {
  flex-grow: 1;

  [class*="col-"] {
    height: 100%;
  }
}

.project-list-section {
  padding-bottom: 5%;
}

//img {
//  width: 200px;
//  height: 200px;
//}

.font-3em {
  font-size: 2em;
}

.font-2em {
  font-size: 0.5em;
}
