@import "variables";

.detail {
  .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 10px;
    top: 10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
}

.gallery {
  img {
    max-width: 100%;
    border-radius: 1.5em;
    width: 100%;
  }

  li {
    padding: 3% 0;
  }
}

.project-source {
  & div:hover {
    cursor: pointer;
  }

  a {
    text-decoration: underline;
  }
}

.project-options {
  div span {
    padding: 2%;
  }

  div img {
    position: relative;
    top: 8px;
  }

  span {
    transition: all 0.2s ease-in;
  }

  & div:hover {
    cursor: pointer;

    span {
      color: $base-color;
      border-radius: 10px;
      background-color: $primary-color;
      transition: all 0.5s ease-out;
    }

    span + img {
      animation: scroll-left;
      animation-duration: 0.5s;
      animation-direction: alternate;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(50%);
  }
}

.underline {
  text-decoration: underline;
}
