.detail {
  .row {
    padding: 3% 0;
  }
}

.project-options {
  div span {
    padding-right: 2%;
  }

  div img {
    position: relative;
    top: 8px;
  }
}

.project-options:hover {
  cursor: pointer;
}

.project-source {
  div span {
    padding-right: 2%;
  }

  div img {
    position: relative;
    top: -7px;
  }
}

.image-gallery {
  img {
    max-width: 100%;
    border-radius: 30px;
    width: 100%;
  }
}
