.font-2--0em {
  font-size: 2.0em;
}

.font-2--1em {
  font-size: 2.1em
}

.font-2--2em {
  font-size: 2.2em
}

.font-2--3em {
  font-size: 2.3em
}

.font-2--4em {
  font-size: 2.4em
}

.font-2--5em {
  font-size: 2.5em
}

.font-2--6em {
  font-size: 2.6em
}

.font-2--7em {
  font-size: 2.7em
}

.font-2--8em {
  font-size: 2.8em
}

.font-2--9em {
  font-size: 2.9em
}

.font-1--0em {
  font-size: 1.0em
}

.font-1--1em {
  font-size: 1.1em
}

.font-1--2em {
  font-size: 1.2em
}

.font-1--3em {
  font-size: 1.3em
}

.font-1--4em {
  font-size: 1.4em
}

.font-1--5em {
  font-size: 1.5em
}

.font-1--6em {
  font-size: 1.6em
}

.font-1--7em {
  font-size: 1.7em
}

.font-1--8em {
  font-size: 1.8em
}

.font-1--9em {
  font-size: 1.9em
}

.font-0--1em {
  font-size: 0.1em
}

.font-0--2em {
  font-size: 0.2em
}

.font-0--3em {
  font-size: 0.3em
}

.font-0--4em {
  font-size: 0.4em
}

.font-0--5em {
  font-size: 0.5em
}

.font-0--6em {
  font-size: 0.6em
}

.font-0--7em {
  font-size: 0.7em
}

.font-0--8em {
  font-size: 0.8em
}

.font-0--9em {
  font-size: 0.9em
}

