.footer {
  background-color: darkblue;
  display: flex;
  justify-content: space-around;
}

.footer-follow {
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-follow-title {
    color: white;
    font-size: 18px;
    padding-bottom: 20px;
  }

  .footer-follow-list {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      padding: 10px;
    }
  }

  .footer-follow-logos {
    width: 36px;
  }
}

.footer-current {
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-current-title {
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
  }

  .footer-current-subtitle {
    color: white;
  }
}

.footer-projects {
  display: flex;

  .footer-projects-arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;

    .footer-projects-arrow {
      color: white;
      background-color: black;
      border-radius: 50%;
    }

    .footer-projects-arrow-active {
      background-color: orange;
    }


  }

  .footer-projects-list {
    display: flex;
    flex-direction: row;

    .footer-projects-logos {
      width: 80px;
    }

    li {
      padding: 0 20px;

      .footer-projects-item-title {
        color: white;
        padding-bottom: 10px;
      }
    }

  }

}

