.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;

  .icon {
    height: 30px;
  }

  .header-icon {
    text-align: center;
  }

  .header-list {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    justify-content: center;

    li {
      padding: 8px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .header-list {
    display: flex;

    li:first-child {
      padding-left: 0;
    }

    li {
      padding: 20px;
    }
  }
}

